---
layout: splash
---

<section class="about-grid">
    <div class="img-box grid-item-0">
        <img src="assets/img/about-photo.jpg" alt="id photo">
    </div>
    <article class="grid-item-1">
        <h3 class="about-title">{{ site.title | escape }}</h3>
        <h4 class="about-sub">UX Designer</h4>
    </article>
    <article class="grid-item-2">
        <p>I'm a designer who graduated from Communication Design from Faculdade de Belas-Artes at Universidade de
            Lisboa (FBAUL). I have more than 10 years of experience in photography, graphic arts, and design.</p>
        <p>I'm a Designer specialized in Data Visualization and UX Design. With an overactive brain – always eager for
            knowledge – my happy place is wherever I can solve problems. People's problems and understand their minds.
        </p>
        <p>My digital design experience and education allow me to have deep knowledge in cognitive sciences and user
            research. Over the past ten years, I've been sharpening my understanding of people and their relationships.
            I've become keenly interested in psychology and how the human brain works.</p>
    </article>
    <article class="grid-item-3">
        <h3 class="about-title">Work Experience</h3>
        <ul>
            {% for job in site.data.experience.docs %}
            <li class="about-list-wrapper">
                <div class="image-about">
                    <img src="assets/img/experience/{{ job.image }}" alt="{{ job.alt }}">
                </div>
                <div class="details-wrapper">
                    <div class="title">
                        <h3>{{ job.employer }}</h3>
                    </div>
                    <div class="title-details">
                        <h5>{{ job.job }}</h5>
                        <time datetime="{{ job.date }}" class="img-date">
                            <h5>{{ job.date }}</h5>
                        </time>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </article>
    <article class="grid-item-4">
        <h3 class="about-title">Education</h3>
        <ul>
            {% for course in site.data.education.docs %}
            <li class="about-list-wrapper">
                <div class="image-about">
                    <img src="assets/img/education/{{ course.image }}" alt="{{ course.alt }}">
                </div>
                <div class="details-wrapper">
                    <div class="title">
                        <h3 class="img-title">{{ course.school }}</h3>
                    </div>
                    <div class="title-details">
                        <h5 class="img-title">{{ course.degree }}</h5>
                        <time datetime="{{ job.date }}" class="img-date">
                            <h5>{{ course.date }}</h5>
                        </time>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </article>
    <div class="grid-item-5">
        {% include social-networks.html %}
    </div>
</section>