---
layout: default
---
<header>
    <picture>
        <img src="assets/img/about-photo.jpg" alt="id photo">
    </picture>
    <article>
        <h3>Paulo Dias</h3>
        <h4>UX Designer</h4>
        <p>Sou um designer licenciado no curso de Design de Comunicação pela Faculdade de Belas-Artes da Universidade de Lisboa com mais de 10 anos de experiência em fotografia, impressão e artes gráficas.</p><p>Com especialização em Visualização de Informação e Experiência de Utilizador, tenho vindo a apurar o meu visão para as pessoas e para os locais que habitam. Aquilo que procuro é transparecer uma personalidade, contar uma história. Não necessariamente a do objecto na imagem, mas antes elevar o discurso para outra dimensão, através dele.</p>
        <p>As várias imagens que vão encontrar, cada uma conta a sua própria história, mas quando lado a lado, permitem dar largas à imaginação e criar toda uma nova história.</p>
    </article>
    <article>
        <h3>Work Experience</h3>
        {% for job in site.data.experience.docs %}
            <div class="pic-button">
                <h3>{{ job.employer }}</h3>
                <h6>{{ job.job }}</h6>
                <h4>{{ job.date }}</h4>
                <picture class="button-img-wrapper">
                    <img src="assets/img/experience/{{ job.image }}" alt="{{ job.alt }}">
                </picture>
            </div>
        {% endfor %}
        </article>
        <article>
            <h3>Education</h3>
            {% for course in site.data.education.docs %}
                <div class="pic-button">
                    <h3>{{ course.school }}</h3>
                    <h6>{{ course.degree }}</h6>
                    <h4>{{ course.date }}</h4>
                    <picture class="button-img-wrapper">
                        <img src="assets/img/education/{{ course.image }}" alt="{{ course.alt }}">
                    </picture>
                </div>
            {% endfor %}
        </article>
        {% include social-networks.html %}
</header>