---
layout: works
title: Works
---
<!-- {% for work in site.works %}

<article class="work">
    <h2><a href="{{ site.baseurl }}/{{ work.url }}" alt="{{ work.title }}">{{ work.title }}</a></h2>
    <img src="{{ work.image_path }}" alt="{{ work.title }}" />
    {{ works.content }}
</article>
{% endfor %}
-->
{% for work in site.works %}
<article>
    <a href="{{ site.baseurl }}/{{ work.url }}" alt="{{ work.title }}">
        <div class="pic-button">
            <h2>"{{ work.title }}"</h2>
            <picture>
                <img 
                srcset="
                assets/img/XL-2560/sportsware/PHD2228-Editar.jpg 400w,
                assets/img/s-900/sportsware/PHD2228-Editar.jpg 900w,
                assets/img/m-1024/sportsware/PHD2228-Editar.jpg 1024w,
                assets/img/l-1920/sportsware/PHD2228-Editar.jpg 1920w,
                assets/img/xl-2560/sportsware/PHD2228-Editar.jpg 2560w"
                sizes="(min-width: 2560px),
                (min-width: 1920px),
                (min-width: 1024px),
                (min-width: 900px),
                (min-width: 400px)"
                src="/pauloshdias/portfolio/blob/gh-pages/assets/img/XL-2560/sportsware/PHD2228-Editar.jpg"
                alt=" {{ work.img_dsc }}">
            </picture>
        </div>
    </a>
</article>
{% endfor %}