<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav>
        <ul>
            <li><a href=# alt="Projects">Projects</a></li>
            <li><a href=# alt="About">About</a></li>
            <li><a href=# alt="Contacts">Contacts</a></li>
        </ul>
     </nav>
    {%- endif -%}
  </div>
</header>
