<section>
    <h4>Social Networks</h4>
    <div class="social-wrapper">
        <ul class="navigation">
            <li><a href="https://github.com/pauloshdias" target="_blank">{%-include icons/github.html -%}</a></li>
            <li><a href="https://www.behance.net/pauloshdias" target="_blank">{%-include icons/behance.html -%}</a></li>
            <li><a href="https://www.linkedin.com/in/pauloshdias/?locale=en_US"
                    target="_blank">{%-include icons/linkedin.html -%}</a></li>
        </ul>
    </div>
</section>