/* SITE HEADER */
.site-title {
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 1.60;
    margin-bottom: 0;
    text-align: center;
    @extend .navigation;
    @extend .nav-wrapper;
    &,
    &:visited {
      color: $text-color;
      text-transform: uppercase;
    }
  }

  .navigation {
      display: flex;
      text-decoration: none;
      justify-content: space-around;
      max-width: 400px;
      margin: auto;
      text-transform: uppercase;
  }
 
  
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .nav-items {
    display: inherit;
    justify-content: inherit;
    min-width: 300px;
    max-width: 400px;
    margin: 0;
  }
  
 .social-wrapper {
    display: block;
    flex-direction: column;
    max-width: 400px;
    justify-content: start;

    .navigation {
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      max-width: 200px;
      margin-left: 0;
      margin-top: 2vh;
      text-transform: uppercase;
  }
 }

.top-navigation {
  height: 72px;
  width: 100%;
  background-color: $primary-color-1;
}
.footer-nav {
  height: 32px;
  width: 100%;
  background-color: $primary-color-1;
  box-sizing: border-box;
  .navigation {
    margin: auto;
    margin-top: 4px;
  }
}

/* SPLASH SCREEN */
.splash {
  display: flex;
  flex-direction: column;
}
.splash-fix {
  adding: $spacing-unit 0;
  flex: 1;
  min-height: calc(100vh - #{$footer-height});
}
.splash-heading {
  margin: auto;
}
.splash-author {
  color: $secondary-color;
}
.splash-quote {
  margin-top: 104px;
  @extend .splash-author;
}
.wellcome-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-wrapper {
  display: grid;
  width: 85%;
  height: 90vh;
  grid-template-rows: 1fr 1fr;
  column-gap: 0;
  row-gap: 0;
  margin: auto;
}
.wellcome-message {
  height: 100%;
  grid-column: 2;
  text-align: center;
  align-self: end;
}
.wellcome-button {
  grid-row-start: 2;
  grid-column: 2;
}
.button:hover {
  fill: $accent-color;
}
.wellcome-button-wrapper {
  display: inherit;
}
.page-title {
  margin: $spacing-unit*(1.0666) 0 $spacing-unit*(1.0666) 0;
}

/* MAIN BROWSING BUTTONS STYLES */

.img-box {
  position: relative;
  height: 19.67vh;
  max-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 8px auto 8px auto;
}
.list-wrapper { /* Overflow still not working */ 
  @extend .img-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.86%, #000000 97.32%);
    opacity: 0.7;
  }
  &:hover:before {
    background: linear-gradient(180deg, rgba(99, 162, 176, 0.5) 40.1%, #023945 88.02%);
mix-blend-mode: multiply;
opacity: 0.8;
  }
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
} 

/* ABOUT BUTTONS */
.image-about {
  @extend .about-list-wrapper;
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.86%, #000000 97.32%);
    opacity: 0.7;
}
.about-list-wrapper {
  @extend .img-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.86%, #000000 97.32%);
    opacity: 0.7;
  }
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
} 
/*------------------------------------------- */


.image {
  @extend .list-wrapper;
}

.details-wrapper {
  @extend .title;
  position: absolute;
  right: 0;
  bottom: 8%;
  left: 5%;
  width: 90%;
}
.project-name {
  @extend .details-wrapper;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
.title {
  color: $neutral-color-light;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-details {
  display: flex;
  justify-content: space-between;
  text-transform: none;
}
.works-spacing {
  margin-bottom: $spacing-unit*(2);
}

/*   PROJECTS BUTTONS STYLES    */

 .projects-base {
   background-color: $neutral-color-light;
   color: $primary-color;
   flex: 1;

   & .project-info {
    padding: 0 $spacing-unit 0 $spacing-unit;
   }
 }
 .project-title {
    margin: $spacing-unit*(1.0666) 0 0;
 }
 .project-sub {
   color: $secondary-color;
   margin-top: -6px;
 }
 .project-img {
   margin: $spacing-unit/(4) 0;
 }


 /* ABOUT BASE */

.about-title {
  color: $neutral-color-light;
}

.about-sub {
  @extend .project-sub;
  margin-top: -8px;
}

/*
* CONTACTS
*/

.form-wrapper {
  display: block;
  margin: 5vh auto auto auto;
}
.form-label {
  display: flex;
  flex-direction: column;
}
input[type=text], input[type=email], textarea {
  padding: 12px 20px;
  background-color: $primary-color-1;
  border-radius: 5px;
  border: none;
}

/* ---------------------------- */
/*   PROJECTS LAYOUT STYLES    */
/* ---------------------------- */

/*  FBAUL  */
.icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @extend .project-list-wrapper;
}
.icon-wrapper {
  text-align: center;
  margin: 2vw;
}
.project-list-wrapper {
  margin: 2vh 0;
}

.icon-list-wrapper {
  display: flex;
  flex-direction: row;
  @extend .project-list-wrapper;
}
.project-icon-lists {
  justify-content: center;
  margin-right: 5vw;
  width: 40px;
}
.project-list-detail {
  line-height: $base-line-height/(1.5);
  vertical-align: middle;
  align-self: center;
}
.project-list-detail-tight {
  line-height: $base-line-height/(2);
}

.list-row {
  display: inherit;
  flex-direction: row;
  width: 100%;
}
.thankyou {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10vh;
}

/*  PHOTO PORTFOLIO CODE  */

.centered-link {
  width: 100%;
  text-align: center;
  color: $primary-color-1;
  fill: #314158;
  a:hover {
    fill: #7BDFF2;
  }
  a:active {
    fill: #7BDFF2;
  }
}

/* GOOGLE TRENDS */

.photo-spacing {
  margin-bottom: 10px;
}

/* ---------------------------- */
/*        MEDIA QUERIES         */
/* ---------------------------- */

@media only screen and (min-width: 1200px) {
  
  /* SPLASH SCREEN */

  .splash {
    display: flex;
    flex-direction: column;
  }
  .splash-heading {
    margin: auto;
    max-width: 500px;
  }

  .wellcome-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    max-width: 400px;
    padding-top: 12%;
  }
  .grid-wrapper {
    display: grid;
    width: 100%;
    height: calc(100vh - #{$footer-height} - #{$nav-height});
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    margin: auto;
  }

  .wellcome-button {
    grid-row-start: 2;
    grid-column: 1 / 2;
  }

  .wellcome-button-wrapper {
    display: inherit;
    grid-area: 2 / 1 / 2 / 3;
    justify-self: center;
    align-self: end;
  }


}