/* SITE HEADER */
.site-title {
    //@include relative-font-size(0.85714);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 1.60;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;
    @extend .navigation;

    &,
    &:visited {
      color: $text-color;
      text-transform: uppercase;
    }
  }

  .navigation {
      display: flex;
      text-decoration: none;
      justify-content: space-around;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 10vw;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
  }

.top-navigation {
  height: 72px;
  width: 100%;
  background-color: $primary-color-1;
}
.footer-nav {
  height: 32px;
  width: 100%;
  background-color: $primary-color-1;
  padding-top: 6px;
  margin-top: 32px;
}


.splash-title {
  margin-top: 104px;
}
.page-title {
  margin: $spacing-unit*(1.0666) 0 $spacing-unit*(1.0666) 0;
}

/* MAIN BROWSING BUTTONS STYLES */
.list-wrapper {
  position: relative;
  height: 19.67vh;
  max-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 16px auto 16px auto;
}

.li-title, .img-title, .img-date {
  position: absolute;
  bottom: 4px;
  margin: 0;
  width: 100%;
  color: $neutral-color-light;
}
.li-title {
  text-align: center;
}
.img-title {
  left: 5%;
}

.img-date {
  text-align: end;
  right: 5%;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.86%, #000000 97.32%);
  opacity: 0.5;
}

 /* PROJECTS LAYOUT STYLES */

 .projects-base {
   background-color: $neutral-color-light;
   color: $primary-color;
   flex: 1;

   & .project-info {
    padding: 0 $spacing-unit 0 $spacing-unit;
   }
 }
 .project-title {
    margin: $spacing-unit*(1.0666) 0 0;
 }
 .project-sub {
   color: $secondary-color;
   margin-top: -10px
 }
 .project-img {
   margin: $spacing-unit/(4) 0;
 }

 /* ABOUT BASE */

.about-title {
  color: $neutral-color-light;
}

.about-sub {
  @extend .project-sub;
  margin-top: -20px;
}