/* SITE HEADER */
.site-title {
    //@include relative-font-size(0.85714);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 1.60;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;
    @extend .navigation;

    &,
    &:visited {
      color: $text-color;
      text-transform: uppercase;
    }
  }

  .navigation {
      display: flex;
      text-decoration: none;
      justify-content: space-around;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 10vw;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
  }

.top-navigation {
  height: 72px;
  width: 100%;
  background-color: $primary-color-1;
}
.footer-nav {
  height: 32px;
  width: 100%;
  background-color: $primary-color-1;
  padding-top: 6px;
  box-sizing: border-box;
}


.splash-title {
  margin-top: 104px;
}
.page-title {
  margin: $spacing-unit*(1.0666) 0 $spacing-unit*(1.0666) 0;
}

/* MAIN BROWSING BUTTONS STYLES */
.img-box {
  position: relative;
  height: 19.67vh;
  max-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 16px auto 16px auto;
}
.list-wrapper {
  @extend .img-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.86%, #000000 97.32%);
    opacity: 0.5;
  }

  &:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(99, 162, 176, 0.5) 0%, #014959 77.18%);
    opacity: 0.5;
    mix-blend-mode: overlay;
  }
  
}
.image {
  @extend .list-wrapper;
}

.details-wrapper {
  @extend .title;
  position: absolute;
  right: 0;
  bottom: 5%;
  left: 5%;
  width: 90%;
}
.title, .title-details {
  
}
.title {
  color: $neutral-color-light;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.title-details {
  display: flex;
  justify-content: space-between;
}


 /* PROJECTS LAYOUT STYLES */

 .projects-base {
   background-color: $neutral-color-light;
   color: $primary-color;
   flex: 1;

   & .project-info {
    padding: 0 $spacing-unit 0 $spacing-unit;
   }
 }
 .project-title {
    margin: $spacing-unit*(1.0666) 0 0;
 }
 .project-sub {
   color: $secondary-color;
   margin-top: -10px
 }
 .project-img {
   margin: $spacing-unit/(4) 0;
 }

 /* ABOUT BASE */

.about-title {
  color: $neutral-color-light;
}

.about-sub {
  @extend .project-sub;
  margin-top: -20px;
}