<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body style="background-color: #FFFFFA;">

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <article>
        <img src="../assets/img/project-covers/{{ page.image }}">
         <h3>{{ page.Title }}</h3>
         <h4>{{ page.Subtitle }}</h4>
         <p>{{ page.Description }}</p>
    </article> 
      <section class="wrapper">
        {{ content }}
      </section>
    </main>
    
    {%- include footer.html -%}

  </body>

</html>
