<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="projects-base" aria-label="Content">
    <article>
      <img src="../assets/img/project-covers/{{ page.image }}" alt="{{ page.alt }}">
      <div class="project-info">
        <h3 class="project-title">{{ page.title }}</h3>
        <h4 class="project-sub">{{ page.subtitle }}</h4>
        <p>{{ page.description }}</p>
      </div>
    </article>
    <section class="wrapper">
      {{ content }}
    </section>
  </main>

  {%- include footer.html -%}

</body>

</html>